# Default ignored files
.DS_Store
/modules
/.idea/
/shelf/
/workspace.xml
/nppBackup
nppBackup
nppBackup/
.idea/
.idea/libraries
.idea/misc.xml
.idea/docs.iml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
/docs/
/node_modules